@import url(https://fonts.google.com/specimen/Outfit);
body{
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
}
.container{
    width: 99%;
    max-width: 320px;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
}
.col-1 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.col-2 {
    flex: 4;
    margin: 15px;
}
h2 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    color: hsl(218, 44%, 22%);
}
p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}
.attribution{
    font-size: 11px; 
    text-align: center; 
}
.attribution a{
    color: hsl(228, 45%, 44%); 
}
/* Responsive Design Adjustments */
@media (max-width: 375px) {
    .container {
        padding: 12px; 
    }
    h2 {
        font-size: 15px;
    }
    p {
        font-size: 15px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 400px; /* Adjust size for larger screens */
        padding: 20px;
    }
}